@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:wght@200&display=swap');

:root {
    --primary-color: #82A0BC;
    --secondary-color: #304D6D;
    --accent1-color: #B3EFB2;
    --accent2-color: #545e75;
    --accent3-color: #6BAA75;
    --accent4-color: rgba(83, 93, 124, .8);

    --heading-font: 'Dancing Script', cursive;
    --paragraph-font: 'Raleway', sans-serif;

    --nav-background-color: #304D6D;
    --nav-link-color: white;
    --nav-hover-link-color: #6BAA75;
    --nav-hover-background-color: #82A0BC;
}

a {
    text-decoration: none;
}
header {
	display: grid;
	grid-template-columns: .5fr 2fr 2fr;
	align-items: flex-end;
    margin-left: 3%;
    margin-right: 3%;
	border-bottom: 6px solid var(--secondary-color);
    margin-bottom:7px;
}
h1 {
    max-width: 28em;
    padding: 10px;
    font-family: var(--heading-font);
    background-color: var(--accent4-color);
    color: rgba(255, 255, 255);
    font-weight: 800;
    margin: 0 auto;
    margin-top: 20px;
}
nav {
	text-align: center;
}
.navigation {
	display: flex;
    flex-direction: row;
	list-style: none;
    justify-content: center;
}
.navigation a {
	display: block;
    justify-items:center;
	color: var(--secondary-color);
	padding: 6%;
	text-decoration: none;
    font-weight: bold;
}
h2-h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    font-weight: 900;
}
footer {
    text-align: left;
    display: flex;
    margin-top: 3em;
}
footer p {
    width: 400%;
    text-align: left;
    align-items: center;
}
footer img {
    width: 40%;
    text-decoration: none;
    align-items: center;
}





/* Home */
.main-image img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    z-index: -1;
}
.index {
    position: absolute;
    top: 4em;
    left: 5.5%;
    right: 5.5%;
    padding: 10px;
    font-family: var(--heading-font);
    background-color: var(--accent4-color);
    color: rgba(255, 255, 255);
    font-weight: 800;
    z-index: 1;
    font-size: 60px;
}
.main-image article p {
    position: absolute;
    top: 13.7em;
    height: .5em;
    left: 8%;
    right: 8%;
    padding: 3%;
    background-color: var(--accent4-color);
    color: rgba(255, 255, 255);
    font-weight: 800;
    font-size: 25px;
    align-content: center;
    text-transform: uppercase;
}
.trip-display {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
}
.trip-display h2 {
    grid-column-start: 1;
    grid-column-end: 3;
}
.index-h2 {
    font-size: 30px;
}
.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 3em;
}
.trip-display:hover {
    background-color: var(--accent4-color);
}
.image-grid img {
    max-width: 100%;
    border: solid 2px var(--secondary-color);
}
.image-grid img:hover {
    max-width: 175%;
}
.index-aside {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: left;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    margin-bottom: 2em;
    margin-right: 2em;
}
.index-aside a {
    grid-column-start: 1;
}
.index-form {
    display: grid;
    grid-template-columns: 1fr 999fr;
}
.index-form h2 {
    grid-column-start: 1;
    grid-column-end: 3;
}
.index-form button {
    grid-column-start: 1;
    grid-column-end: 3;
}
.index-about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
    margin-left: 4em;
}
.index-about h2 {
    font-size: 30px;
}
.index-about p {
    font-size: 22px;
}
.purpose {
    padding: 0em;
}
.purpose a {
    color: var(--accent3-color);
    font-weight: bold;
}
.index-about img {
    max-width: 800px;
    grid-column-start: 2;
    grid-row-start: 1;
    border: solid 3.5px var(--secondary-color);
}
.img2:hover {
    display: none;
}








/* About */
.hero img {
    display: block;
    position: relative;
    width: 100%;
    max-height: 400px;
    z-index: -1;
    margin-bottom: 6em;
    margin-top: 2em;
}
.about {
    position: absolute;
    top: 6.5em;
    left: 5.5%;
    right: 5.5%;
    padding: 10px;
    font-family: var(--heading-font);
    background-color: var(--accent4-color);
    color: rgba(255, 255, 255);
    font-weight: 800;
    z-index: 1;
}
.hero article {
    position: absolute;
    top: 21em;
    height: 20%;
    left: 8%;
    right: 8%;
    padding: 3%;
    background-color: var(--accent4-color);
    color: rgba(255, 255, 255);
    font-weight: 800;
}
.hero article img {
    float: right;
    width: auto;
    height: 85%;
    z-index: 1;
}
body {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--accent4-color);
    color: white;
}
.history h2 {
    grid-column: 1/4;
    font-weight: bolder;
    border-bottom: solid 5px var(--accent2-color);
    padding-bottom: 1%;
    margin-left: 3%;
    margin-right: 3%;
}
.history-1 {
    align-self: center;
    margin-left: 15%;
    margin-right: -15%;
}
.history-2 {
    align-self: center;
    margin-right: 15%;
    margin-left: -15%;
}
.history img {
    width: auto;
    height: 200px;
    justify-self: center;
    align-self: center;
}
.adventure-img {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content: space-around;
}
.adventure-img h2 {
    width: 100%;
}
.adventure-img img, figure {
    max-width: 200px;
    margin: 0 auto;
}
figcaption {
    text-align: center;
    padding-bottom: 30px;
}





/* Contact Page */
.contact {
    max-width: 28em;
    padding: 10px;
    font-family: var(--heading-font);
    background-color: var(--accent4-color);
    color: rgba(255, 255, 255);
    font-weight: 800;
    margin: 0 auto;
    margin-top: 20px;
}
/* Company Info */
.company-info {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    max-width: 75%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 6em;
    align-items: center;
}
.company-info h2 {
    text-align: left;
    font-size: 20px;
}
.company-info p {
    text-align: left;
    font-size: 20px;
}
iframe {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    max-width: 700px;
    max-height: 300px;
}

/* Employees */
.employees {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 75%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 6em;
    align-items: center;
    justify-items: center;
}
.employees img {
    max-height: 12em;
    grid-row-start: 1;
    border: solid 2px var(--secondary-color);
}
figcaption {
    padding: .7em;
}

/* Form */
form {
    width: 85%;
    max-width: 800px;
    display: grid;
    grid-gap: 8px;
    margin: 0 auto;
    background-color: #e3e6e9;
    border: solid 2px var(--secondary-color);
    padding: .6em;
    margin-bottom: 6em;
    margin-top: 3em;
}
label {
    padding: .5em;
    text-align: left;
}
input, textarea, select, button {
    font-family: Raleway;
    padding: .7em;
    margin-right: .5em;
    margin-left: .5em;
    margin-bottom: .9em;
    border: solid 1px var(--secondary-color);
}
subscribe {
    display: grid;
    grid-template-columns: 1fr 10fr;
}
.radio {
    display: grid;
    grid-template-columns: 3fr 1fr 4fr;
    align-items: center;
}
input {
    max-height: 15px;
}
button {
    font-weight: bold;
    margin: 1em;
    background-color: #ffffff;
}
button:hover {
    background-color: var(--primary-color);
    color: white; 
}



/* Trips */
.main-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-items: center;
    margin-bottom: 4.5em;
    grid-gap: .7em;
}
aside {
    display: grid;
    background-color: #e3e6e9;
    max-height: 460px;
}
.trips-aside {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-start: 1;
    grid-row-end: 4;
    text-align: right;
    margin-top: 2em;
}
aside h2 {
    text-align: center;
    background-color: var(--secondary-color);
    color: #e3e6e9;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-top: .5em;
}
aside a {
    color: var(--secondary-color);
	padding: 1em;
	text-decoration: none;
    font-weight: bold;
}
aside a:hover {
    background-color: var(--secondary-color);
    color: #e3e6e9;
}
.announcement {
    max-width: 1000px;
    margin: 2em;
    font-size: 19px;
    font-weight: bold;
    margin-left: -1em;
}
.announcement a {
    color: var(--accent3-color);
}
.trips-h1 {
    font-family: var(--heading-font);
    padding-left: 8em;
    padding-right: 8em;
}
.trip-types {
    display: grid;
    grid-template-columns: 1fr 3fr;
    max-width: 1000px;
    grid-gap: 1em;
    align-items: center;
    background-color: var(--accent4-color);
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-top: 1em;
    margin-left: -1em;
}
.trip-types p {
    text-align: left;
    color: white;
    font-weight: normal;
}
.trip-types h2 {
    text-align: right;
    margin-bottom: -25px;
    color: #e3e6e9;
}
.trip-types img{
    max-width: 250px;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    border: solid 2px var(--secondary-color);
}
table {
    margin: 0 auto;
    max-width: 75em;
    margin-bottom: 4.5em;
}
table a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
}
tr, td, th {
    /* border: solid gray 1px; */
    font-size: 20px;
    padding: 10px;
}
.style1 {
    background-color: #e3e6e9;
}
.special-offers{
    padding-bottom: 2.5em;
    color: var(--accent3-color);
    font-weight: bold;
}







/* Special Offers */
.special-offers-p a {
    font-weight: bold;
    color: var(--accent3-color);
}
.special-offers-p {
    font-size: 20px;
}