@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:wght@200&display=swap');

:root {
    --primary-color: #82A0BC;
    --secondary-color: #304D6D;
    --accent1-color: #B3EFB2;
    --accent2-color: #545E75;
    --accent3-color: #6BAA75;

    --heading-font: 'Dancing Script', cursive;
    --paragraph-font: 'Raleway', sans-serif;

    --nav-background-color: #304D6D;
    --nav-link-color: white;
    --nav-hover-link-color: #6BAA75;
    --nav-hover-background-color: #82A0BC;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
header {
    padding: 20px;
    background-color: var(--primary-color);
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
p{
    padding: 25px;
}